<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780786268843-pevemrehrcpnc4sej8u9iif8akb26cl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780786268843-pevemrehrcpnc4sej8u9iif8akb26cl0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>780786268843-jrguf2eml1gph3t8o4g9ojjbqig6hum4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvFzyltG-_qkgO9fZZaInLYFZN_v1O3KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>780786268843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matagi.newsapp</string>
	<key>PROJECT_ID</key>
	<string>testingkanban</string>
	<key>STORAGE_BUCKET</key>
	<string>testingkanban.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780786268843:ios:3605f12ce2115c49cb55ee</string>
	<key>DATABASE_URL</key>
	<string>https://testingkanban.firebaseio.com</string>
</dict>
</plist>